@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterInfo</title>
</head>
<body>
    <div>
        <h1>MVCDemo</h1>
        <form action="/UserInfo/RegisterResult">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="txtname" /></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td> <input type="text" name="txtpassword" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="确定" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
